{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://twitter.com/AluraOnline" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'assets/icons/1x/twitter.svg' %}" alt="icone twitter">
        </a>
        <a href="https://www.instagram.com/aluraonline/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'assets/icons/1x/instagram.svg' %}" alt="icone instagram">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Alura</p>
</footer>